.editor-api {
  background-color: white;
  border-radius: 5px;
  min-height: 70vh;
}

.list-group {
  overflow-y: scroll;
  max-height: 100vh !important;
  background-color: white;
}

.list-group-min {
  min-height: 70vh !important;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.ce-paragraph {
  line-height: 1.8em !important;
}
