// CONTAINER

body {
  overscroll-behavior-y: none;
  background-color: #fafafa;
}

.wrapper {
  display: flex;
  width: 100%;
}

// * Content = Editor area w/o sidebar.
#content {
  @media (max-width: 768px) {
    width: 100%; // Hide sidebar on small screens
  }
  width: calc(100% - var(--sidebarWidth)); // Default: Make room for sidebar
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

// EDITOR
.editor {
  @media (max-width: 768px) {
    width: 80vw;
    margin-left: 2rem;
  }
  width: 60vw;
  margin-left: 4rem;
}
.editor-api {
  background-color: white;
  border-radius: 5px;
  min-height: 70vh;
}

.list-group {
  overflow-y: scroll;
  max-height: 100vh !important;
  background-color: white;
}

.list-group-min {
  min-height: 70vh !important;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.ce-paragraph {
  line-height: 1.8em !important;
}
