// BADGES
.bg-blue {
  background-color: $blue !important;
}

.bg-yellow {
  background-color: $yellow !important;
}

.bg-red {
  background-color: $red !important;
}

// Forslag
.dobbeltkonfekt {
  border-bottom: 3px solid $blue;
  cursor: pointer;

  &:hover {
    background-color: $blue-bg;
  }
}

.grammatik {
  border-bottom: 3px solid $red;
  cursor: pointer;

  &:hover {
    background-color: $red-bg;
  }
}

.generelt {
  border-bottom: 3px solid $red;
  cursor: pointer;

  &:hover {
    background-color: $red-bg;
  }
}

.stavefejl {
  border-bottom: 3px solid $red;
  cursor: pointer;

  &:hover {
    background-color: $red-bg;
  }
}

.fyldeord {
  border-bottom: 3px solid $blue;
  cursor: pointer;

  &:hover {
    background-color: $blue-bg;
  }
}

.anglicisme {
  border-bottom: 3px solid $yellow;
  cursor: pointer;

  &:hover {
    background-color: $yellow-bg;
  }
}

.kliche {
  border-bottom: 3px solid $yellow;
  cursor: pointer;

  &:hover {
    background-color: $yellow-bg;
  }
}

.buzzword {
  border-bottom: 3px solid $purple;
  cursor: pointer;

  &:hover {
    background-color: $purple-bg;
  }
}

.formelt {
  border-bottom: 3px solid $purple;
  cursor: pointer;

  &:hover {
    background-color: $purple-bg;
  }
}

.typiskanvendtforkert {
  border-bottom: 3px solid $yellow;
  cursor: pointer;

  &:hover {
    background-color: $yellow-bg;
  }
}

.badge.bg-primary.rounded-pill {
  min-width: 3rem;
}

.bg-longword {
  background-color: $longword;
}

// DIVIDERS
.slanted-divider {
  position: relative;
  margin-top: 15px;
  border-top: 1px solid rgba(43, 104, 170, 0.51);
  box-shadow: 0 1px 3px 0 rgba(209, 237, 255, 0.33);
  transform: rotate(-1deg);
}

.header-line {
  height: 1px;
  margin-top: 52px;
  margin-bottom: -58px;
  background-color: rgba(220, 227, 231, 0.39);
}

.red {
  border-bottom: 3px solid $red-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $red-bg;
  }
}

.yellow {
  border-bottom: 3px solid $yellow-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $yellow-bg;
  }
}

.blue {
  border-bottom: 3px solid $blue-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $blue-bg;
  }
}

.purple {
  border-bottom: 3px solid $purple-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $purple-bg;
  }
}

.longword {
  border-bottom: 3px solid $longword-border;
  cursor: pointer;

  &:hover {
    background-color: $longword;
  }
}

.frequentword {
  border-bottom: 3px solid $yellow;
  cursor: pointer;

  &:hover {
    background-color: $yellow-bg;
  }
}

.s1to3 {
  @include highlight($s1to3, 1);
}

.s4to6 {
  @include highlight($s4to6, 1);
}

.s7to10 {
  @include highlight($s7to10, 1);
}

.s11to18 {
  @include highlight($s11to18, 1);
}

.s19to26 {
  @include highlight($s19to26, 1);
}

.s26plus {
  @include highlight($s26plus, 1);
}

// Hedonometer
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine {
  &::after {
    font-size: 0.5rem;
  }
}
span.two::after {
  content: $two;
}

span.three::after {
  content: $three;
}

span.four::after {
  content: $four;
}

span.five::after {
  content: $five;
}

span.six::after {
  content: $six;
}

span.seven::after {
  content: $seven;
}

span.eight::after {
  content: $eight;
}

span.nine::after {
  content: $nine;
}

.hard {
  @include highlight($hard);
}

.veryhard {
  @include highlight($veryhard);
}

// MODALS
.modal-body p {
  font-size: 0.9rem;
  line-height: unset;
  color: unset;
}

.goals-header {
  width: 30%;
}

.goals-options {
  width: 70%;
}

[data-bs-toggle="modal"] {
  cursor: pointer;
}

// BUTTONS
.btn-analyze {
  background-color: #1c5182;
  border-color: #1c5182;
  color: white;
  &:hover {
    color: #6cc2b1;
  }
}

.btn-remove {
  background-color: $grey;
  border-color: $grey;
  color: white;
  &:hover {
    color: #6cc2b1;
  }
  &:active {
    background-color: darkgrey;
    color: black;
  }
}

.btn-nav {
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  @media (max-width: 768px) {
    font-size: 0.66rem;
    min-width: 15%;
  }
  @media (max-width: 384px) {
    font-size: 0.52rem;
    min-width: 17%;
  }

  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.2rem 0.5rem;
  min-width: 12%;
  text-shadow: 1px 1px 1px #565656;
}

.btn-outline-success {
  background-color: white;
}

.btn-outline-primary.goals {
  font-family: "Inter", sans-serif;
  background-color: rgb(240, 242, 252) !important;
  color: rgb(74, 110, 224) !important;
  font-weight: 100;
  &:active {
    background-color: rgb(74, 110, 224);
    transition-duration: 0.2s;
    color: rgb(255, 255, 255);
  }
}

.btn-goals {
  color: rgb(74, 110, 224);
  background-color: rgb(240, 242, 252);
  border-color: rgb(74, 110, 224);
  font-weight: 100;
  letter-spacing: 0;
}

.btn-goals:hover,
.btn-goals:active,
.btn-goals:focus,
.btn-goals.active {
  background: rgb(74, 110, 224);
  color: rgb(255, 255, 255);
  border-color: rgb(74, 110, 224);
  transition-duration: 0.2s;
}

// SIDEBAR

#showSidebar {
  // position: fixed;
  // top: 4%;
  // right: 2%;
  border-radius: 25px;
  transition: all 0.3s;
  font-size: 0.6875rem;
  @media (max-width: 768px) {
    font-size: 0.52rem;
  }
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  animation-delay: 5s;
}

// * Sidebar section
#sidebar {
  width: var(--sidebarWidth);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  padding: 10px;
  transition: all 0.3s;
  background-color: white;
}

// ! .mobile
// Add .mobile to hide sidebar
#sidebar.mobile {
  margin-right: calc(-1 * var(--sidebarWidth)) !important;
}

// And show the full area
#content.mobile {
  width: 100% !important;
}

// And show the full area
#bottom-menu.mobile {
  width: 100% !important;
}

.hide-assistant {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  &:hover {
    color: grey;
    cursor: pointer;
  }
}

.full-report {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  line-height: 1;
  &:hover {
    color: grey;
    cursor: pointer;
  }
}

.report-grade {
  font-size: 1rem;
}

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 6.5px;
  background: #fff;
  border: 1.5px solid #000;
  color: #000;
  text-align: center;
}

small.report-details {
  font-size: 0.6rem;
  font-weight: 100;
}

.goals-section {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  line-height: 1;
  &:hover {
    color: grey;
    cursor: pointer;
  }
}

#sidebar .sidebar-header {
  padding: 40px 20px 5px 20px;
}

#sidebar.components {
  font-weight: 100;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.9rem;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#sidebar ul li a:hover {
  background: #fff;
}

ul li ul li {
  padding-right: 20px;
}

a[data-bs-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.75rem !important;
  border-bottom: none !important;
}

.stat {
  font-family: "Inter";
  font-size: 0.6rem;
  min-width: 2rem;
  border: 1px solid #6c757d !important;
}

/* Media queries */
// TODO
@media (max-width: 768px) {
  #sidebar {
    margin-right: calc(-1 * var(--sidebarWidth));
  }
  #sidebar.mobile {
    margin-right: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

// IMAGES
.img-modal {
  width: 15%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.img-aud {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
