/* NAVBAR */
.navbar {
  border: none;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.nav-link {
  font-size: 0.75rem;
  margin-left: 0.25rem;
  @media (max-width: 768px) {
    font-size: 0.65rem;
  }
}

.navbar-brand {
  font-size: 1rem !important;
  font-weight: 400;
}

.grey {
  background-color: $grey !important;
}

// Bottom menu
#bottom-menu {
  width: calc(100% - var(--sidebarWidth));
  @media (max-width: 768px) {
    width: 100% !important;
  }
  top: auto;
  margin-bottom: -0.25em;
  font-size: 1em;
  pointer-events: none;
  transition: all 0.3s; // Effect?
  div {
    width: calc(100% / 6);
    @media (max-width: 768px) {
      width: calc(100% / 3);
    }
    @media (max-width: 384px) {
      width: calc(100% / 2);
    }
    transition: all 0.3s;
    overflow: hidden;
    pointer-events: all;
    cursor: pointer;
    .tag {
      display: block;
      text-align: center;
      width: 100%;
      font-weight: 700;
      height: 3rem;
      @media (max-width: 768px) {
        height: 2.5rem;
      }
      line-height: 3em;
      font-size: 1rem;
      @media (max-width: 768px) {
        font-size: 0.85rem;
      }
      @media (max-width: 384px) {
        font-size: 0.7rem;
      }
      text-shadow: 1px 1px 1px #565656;
      color: #fff;
    }
  }
  .blue-menu {
    background-color: #42a5ff;
    box-shadow: 0 -4px #75bdff;
    &:hover {
      background-color: #75bdff;
    }
    &:active {
      background-color: #37638d;
      box-shadow: 0 -4px #42a5ff;
    }
  }
  .green-menu {
    background-color: #2bde73;
    box-shadow: 0 -4px #73e797;
    &:hover {
      background-color: #73e797;
    }
    &:active {
      background-color: #166f39;
      box-shadow: 0 -4px #2bde73;
    }
  }
  .yellow-menu {
    background-color: #ffc924;
    box-shadow: 0 -4px #ffd76a;
    &:hover {
      background-color: #ffd76a;
    }
    &:active {
      background-color: #66500e;
      box-shadow: 0 -4px #ffc924;
    }
  }
  .red-menu {
    background-color: #ff4742;
    box-shadow: 0 -4px #ff7873;
    &:hover {
      background-color: #ff7873;
    }
    &:active {
      background-color: #8d3a37;
      box-shadow: 0 -4px #ff4742;
    }
  }
  .darkblue-menu {
    background-color: #1c5182;
    box-shadow: 0 -4px #597da1;
    &:hover {
      background-color: #597da1;
    }
    &:active {
      background-color: #0b2034;
      box-shadow: 0 -4px #1c5182;
    }
  }
  .grey-menu {
    background-color: #ccc;
    box-shadow: 0 -4px #ddd;
    &:hover {
      background-color: #ddd;
    }
    &:active {
      background-color: #aaa;
      box-shadow: 0 -4px #ccc;
    }
  }
}
