// Colours
$color-text: #0e101a;
$black: #0e101a;
$bg: #f8f9fa;
$radius: 3%;
$grey0: rgb(100, 100, 100);

$red: rgb(234, 21, 55);
$red-border-bottom-color: $red;
$red-bg: rgb(255, 153, 171);

$yellow: #ffae00;
$yellow-border-bottom-color: $yellow;
$yellow-bg: #ffebc0dc;

$blue: rgb(74, 110, 224);
$blue-border-bottom-color: $blue;
$blue-bg: rgb(153, 194, 255);

$purple: #462692;
$purple-border-bottom-color: #462692;
$purple-bg: #cdbeee;

$hard: $yellow-bg;
$veryhard: $red-bg;

$grey: #ccc;
$longword: $yellow-bg;
$longword-border: $yellow-border-bottom-color;

// Corrections
$dobbeltkonfekt: $blue; // klarhed
$generelt: $red; // korrekthed
$stavefejl: $red; // korrekthed
$fyldeord: $blue; // klarhed
$anglicisme: $yellow; // originalitet
$kliche: $yellow; // originalitet
$buzzword: $purple; // udtryk
$formelt: $purple; // udtryk
$grammatik: $red; // korrekthed;
$typiskanvendtforkert: $blue; // klarhed

// Text rhythm
$s1to3: #cb997e;
$s4to6: #e76f51;
$s7to10: #f4a261;
$s11to18: #e9c46a;
$s19to26: #ccd5ae;
$s26plus: #8ecae6;

// Hedonometer
$two: "[🤬]";
$three: "[😡]";
$four: "[😠]";
$five: "[😐]";
$six: "[🙂]";
$seven: "[😄]";
$eight: "[😁]";
$nine: "[🤩]";

// Sidebar
:root {
  --sidebarWidth: 250px; //CSS variable
  @media (max-width: 1200px) {
    --sidebarWidth: 225px; //CSS variable
  }
  @media (max-width: 992) {
    --sidebarWidth: 200px; //CSS variable
  }
  @media (max-width: 768) {
    --sidebarWidth: 175px; //CSS variable
  }
}

// Font & Typography
$font-sans: Lato, sans-serif;
