// DIVIDERS
.slanted-divider {
  position: relative;
  margin-top: 15px;
  border-top: 1px solid rgba(43, 104, 170, 0.51);
  box-shadow: 0 1px 3px 0 rgba(209, 237, 255, 0.33);
  transform: rotate(-1deg);
}

.header-line {
  height: 1px;
  margin-top: 52px;
  margin-bottom: -58px;
  background-color: rgba(220, 227, 231, 0.39);
}

.red {
  border-bottom: 3px solid $red-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $red-bg;
  }
}

.yellow {
  border-bottom: 3px solid $yellow-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $yellow-bg;
  }
}

.blue {
  border-bottom: 3px solid $blue-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $blue-bg;
  }
}

.purple {
  border-bottom: 3px solid $purple-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $purple-bg;
  }
}
