@charset 'utf-8';

@import "../node_modules/bootstrap/scss/bootstrap";

@import "_variables";
@import "_mixins";
@import "_typography";
@import "_components";
@import "_layouts";

// Body
body {
  overscroll-behavior-y: none;
}

.home {
  background-color: #1410418a;
  background-image: url(/index_page_background.a46b7b1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flow-root;
}

// ! EDITOR
// * Content = Editor area w/o sidebar.
#content {
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

#editorjs {
  cursor: text;
}

.editor {
  // On smaller screens, reduce the margins and take up more place on the screen
  @media (max-width: 768px) {
    width: 80vw;
    margin-left: 2rem;
  }

  // On larger screens, have a bit more air
  width: 60vw;
  margin-left: 4rem;
}

// Unset the max-width of EditorJS, otherwise there is an uneccesarily large margin on both sides
.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

// Add a bit more space between the lines, otherwise feels cramed
.ce-paragraph {
  line-height: 1.8em !important;
}

// ! SIDEBAR
// Sidebar: As the width available decreases, the sidebar area shrinks.
:root {
  @media screen and (min-width: 1200px) {
    --sidebarWidth: 400px;
  }
  @media screen and (min-width: 992) {
    --sidebarWidth: 350px;
  }
  @media screen and (min-width: 768) {
    --sidebarWidth: 300px;
  }
  @media screen and (max-width: 768) {
    --sidebarWidth: 250px;
  }
}

#sidebar {
  background-color: rgba(18, 12, 24, 0.664);
}

// * Sidebar section
#sidebar {
  width: var(--sidebarWidth);
  border-left: rgba(28, 19, 38, 0.5) solid 2px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
  // background-color: white;
}

// Sidebar button
#showSidebar {
  // position: fixed;
  // top: 4%;
  // right: 2%;
  border-radius: 25px;
  transition: all 0.3s;
  font-size: 0.6875rem;
  @media (max-width: 768px) {
    font-size: 0.52rem;
  }
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  animation-delay: 5s;
}

// Each sidebar subsection (e.g. "Afsnit")
#sidebar ul li {
  padding: 10px;
  font-size: 0.9rem;
  display: block;
}

#sidebar ul li:hover {
  background: #eee;
}

// Adding .mobile hides sidebar by pushing it off-screen
#sidebar.mobile {
  margin-right: calc(-1 * var(--sidebarWidth)) !important;
}

// // TODO
// On small screens ...
@media (max-width: 768px) {
  // Hide the first sidebar
  #sidebar1 {
    display: none;
    width: 0% !important;
  }

  // Show the second sidebar with width 100%
  #sidebar2 {
    width: 100% !important;
  }
}

//Sidebar new
// rgba(18,12,24,1);

// ! LIST GROUP
.list-group-item {
  border: 0s;
  background-color: inherit;
  color: #eee;
}

.border-none {
  border: none !important;
}

// ! ACCORDION
.accordion-item,
.accordion-button {
  border-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background-color: inherit;
  color: #eee;
}

// ! EDITOR vs SIDEBAR
#content {
  width: calc(100% - var(--sidebarWidth)); // Default: Make room for sidebar
}

// And show the full area
#content.mobile {
  width: 100% !important;
}

// ! NAVBAR
.subtle-border {
  border-bottom: 2px solid #1c274f38;
}

.navbar-toggler {
  background-color: white !important;
}

.main-nav {
  border-bottom: 2px solid transparent;
}
.navbar {
  border: none;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.nav-item {
  border-bottom: 2px solid transparent;
  transition: ease 0.3s;
  &:hover {
    border-bottom: 4px solid #6a49fe;
    margin-bottom: -4px;
  }
  &:active {
    border-bottom: 4px solid #6a49fe;
    margin-bottom: -4px;
  }
}

// .nav-link {
//   font-size: 0.75rem;
//   margin-left: 0.25rem;
//   @media (max-width: 768px) {
//     font-size: 0.65rem;
//   }
// }

.navbar-brand {
  font-size: 1rem !important;
  font-weight: 400;
}

// ! MODALS
.modal {
  opacity: 0.8;
}
