@charset 'utf-8';

@import "../node_modules/bootstrap/scss/bootstrap";

@import "_variables";
@import "_mixins";
@import "_typography";
@import "_components";
@import "_layouts";

// Body
body {
  overscroll-behavior-y: none;
}

.home {
  background-color: #1410418a;
  background-image: url(/index_page_background.a46b7b1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flow-root;
}

// ! EDITOR
// * Content = Editor area w/o sidebar.
#content {
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

#editorjs {
  cursor: text;
}

.editor {
  @media (max-width: 768px) {
    width: 80vw;
    margin-left: 2rem;
  }
  width: 60vw;
  margin-left: 4rem;
}

// Unset the max-width of EditorJS, otherwise there is an uneccesarily large margin on both sides
.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

// Add a bit more space between the lines, otherwise feels cramed
.ce-paragraph {
  line-height: 1.8em !important;
}

// ! SIDEBAR
// Sidebar
:root {
  --sidebarWidth: 500px; //CSS variable
  @media (max-width: 1200px) {
    --sidebarWidth: 450px; //CSS variable
  }
  @media (max-width: 992) {
    --sidebarWidth: 400px; //CSS variable
  }
  @media (max-width: 768) {
    --sidebarWidth: 350px; //CSS variable
  }
}

#sidebar1,
#sidebar2 {
  transition: all 0.3s;
}

#showSidebar {
  // position: fixed;
  // top: 4%;
  // right: 2%;
  border-radius: 25px;
  transition: all 0.3s;
  font-size: 0.6875rem;
  @media (max-width: 768px) {
    font-size: 0.52rem;
  }
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  animation-delay: 5s;
}

// * Sidebar section
#sidebar {
  width: var(--sidebarWidth);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
  background-color: white;
}

// ! .mobile
// Add .mobile to hide sidebar
#sidebar.mobile {
  margin-right: calc(-1 * var(--sidebarWidth)) !important;
}

// And show the full area
#content.mobile {
  width: 100% !important;
}

#sidebar .sidebar-header {
  padding: 40px 20px 5px 20px;
}

#sidebar.components {
  font-weight: 100;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.9rem;
  display: block;
}

#sidebar ul li a:hover {
  background: #fff;
}

// TODO
@media (max-width: 768px) {
  #sidebar {
    margin-right: calc(-1 * var(--sidebarWidth));
  }
  #sidebar.mobile {
    margin-right: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

// ! EDITOR vs SIDEBAR
#content {
  // @media (max-width: 768px) {
  //   width: 100%; // Hide sidebar on small screens
  // }
  width: calc(100% - var(--sidebarWidth)); // Default: Make room for sidebar
}

// ! LIST GROUP
.list-group {
  overflow-y: scroll;
  max-height: 100vh !important;
  background-color: white;
}

.list-group-min {
  min-height: 70vh !important;
}

.border-none {
  border: none !important;
}
