<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- SEO Meta tags-->
  <meta
    name="description"
    content="Fjern overflødigt fedt, skamredne klichéer og pleonastisk dobbeltkonfekt fra din tekst"
  />
  <meta name="robots" content="index, follow" />
  <meta name="google-site-verification" content="oGx1TFX_w--Q5dj88i0Pd7wa8Rhyttu4FjJLIltvF_4" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />

  <script src="https://kit.fontawesome.com/bb60d350f2.js" crossorigin="anonymous"></script>

  <!-- Scrollbar Custom CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
  />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="styles.css" />

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png" />
  <link rel="manifest" href="assets/manifest.json" />

  <title>RetMinTekst | Skriv dit bedste</title>
</head>
