<!-- Modals -->
<div class="modal fade" id="homeModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="homeModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- ** Modal: Unique **  -->
<div class="modal fade" id="uniqueModal" tabindex="-1" aria-labelledby="uniqueModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uniqueModalLabel">Unikke ord</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Ved 'unikt' ord forst친s, at det kun er anvendt 칠n gang i din tekst. F친 unikke ord kan v칝re et udtryk for, at du anvender et monotont sprog. Dog vil en
          kortere tekst vil naturligvis have flere unikke ord. Se derfor ogs친 p친 procenten, alts친 antallet af unikke ord i forhold til alle ord.
        </p>
        <small>
          V칝r opm칝rksom p친 at ordene i din tekst er fors칮gt forvandlet til deres 'lemma', s친dan s친 b칮jninger mv. ikke t칝ller for to forskellige ord
        </small>
        <p><span id="uniqueWordsList"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk vinduet</button>
      </div>
    </div>
  </div>
</div>

<!-- ** Modal: Rare **  -->
<div class="modal fade" id="rareModal" tabindex="-1" aria-labelledby="rareModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rareModalLabel">Unikke ord</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ord, der ikke er i top 5000</p>

        <p><span id="rareWordsList"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk vinduet</button>
      </div>
    </div>
  </div>
</div>

<!-- ** Modal: Frequent words **  -->
<div class="modal fade" id="frequentModal" tabindex="-1" aria-labelledby="frequentModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="frequentModalLabel">Unikke ord</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Gengangerord!</p>

        <p><span id="frequentWordsList"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk vinduet</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Rare -->
<div class="modal fade" id="rareModal" tabindex="-1" aria-labelledby="rareModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rareModalLabel">Sj칝ldne ord</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ved et 'sj칝ldent' ord forst친s ord, der ikke figurerer p친 de 5.000 mest anvendte ord i det danske sprog.</p>
        <p>
          <span id="rarewords"><button class="btn btn-sm btn-info">Analys칠r</button> din tekst for at se dine sj칝ldne ord</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk vinduet</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: LIX -->
<div class="modal fade" id="lixModal" tabindex="-1" aria-labelledby="lixModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lixModalLabel">LIX (L칝sbarhedsindex)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          LIX (l칝sbarhedsindeks) giver et m친l for en teksts l칝sbarhed. LIX-tallet for din tekst er nedenfor: LIX: 44 Sv칝rhedsgrad: Middel Formlen tager hensyn
          til l칝ngden af s칝tningerne og antallet af lange ord, men der tages ikke hensyn til, om der anvendes komplicerede s칝tningsstrukturer, fremmedord og
          lignende. LIX kan give et fingerpeg om, hvorvidt din tekst er en tand for kompliceret. Et lavt LIX-tal giver ingen garanti for, at teksten er
          letl칝selig.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk vinduet</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Happy -->
<div class="modal fade" id="happyModal" tabindex="-1" aria-labelledby="happyModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="happyModalLabel">游꿠 Gl칝desbarometer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Gl칝desbarometeret er lavet p친 baggrund af det amerikanske projekt, Hedonometer. Selve ordet 'Hedonometer' (l칮st oversat til gl칝desbarometer) stammer
          fra 1800-tallet, hvor 칮konomen Francis Edgeworth beskrev ideen som en psykologisk-fysisk maskine, der kontant m친lte gl칝den, en person oplevede ved
          hver aktivitet.
        </p>
        <ul class="list-unstyled ms-3" id="happyWords"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk vinduet</button>
      </div>
    </div>
  </div>
</div>

<!-- OPTIONS -->
<!-- ** Modal: Frequent words **  -->
<div class="modal fade" id="frequentModal" tabindex="-1" aria-labelledby="frequentModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="frequentModalLabel">Unikke ord</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Gengangerord!</p>

        <p><span id="frequentWordsList"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk vinduet</button>
      </div>
    </div>
  </div>
</div>
