<!DOCTYPE html>
<html lang="da">
  <%- include("_head") %>
  <body class="home">
    <main class="wrapper">
      <!-- * Page Content :: Nav + Editor -->

      <!-- * Toast -->
      <div class="toast-container position-absolute top-0 start-50 translate-middle-x p-3" style="z-index: 9999">
        <div class="toast" id="warningToast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <svg
              class="bd-placeholder-img rounded me-2"
              width="20"
              height="20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <rect width="100%" height="100%" fill="#880808"></rect>
            </svg>
            <strong class="me-auto">Fejl!</strong>
            <small>Netop nu</small>
          </div>
          <div class="toast-body">
            Vores praktikant, Kenned, er faldet i søvn ved bordet og har ramt stikkontakten til serveren. Prøv igen
            senere.
            <div class="mt-2 pt-2 border-top">
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Luk</button>
            </div>
          </div>
        </div>
      </div>

      <section id="content">
        <!-- * Nav incl. bottom menu -->
        <%- include("_nav") %>

        <!-- * Editor -->
        <div class="row my-5">
          <div class="col-10 mx-auto border rounded bg-white px-5 pt-4 mb-5 shadow-sm">
            <div id="editorjs"></div>
          </div>
        </div>
      </section>

      <!-- * Sidebar -->
      <section id="sidebar" class="shadow-lg"><%- include("_sidebar") %></section>

      <!-- * Modals -->
      <section id="modals"><%- include("_modals") %></section>
    </main>

    <!-- ! Scripts -->
    <!-- Own scripts -->
    <script async src="scripts.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- Chart.js -->
    <!-- <script async src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->

    <noscript>Du kan desværre ikke anvende RetMinTekst uden JavaScript slået til.</noscript>
  </body>
</html>
