<%- include("header") -%>
<body>
  <!-- Header -->
  <header id="header">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="#">RetMinTekst</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto justify-content-center">
          <li class="nav-item active">
            <button class="btn btn-primary nav-btn" type="submit" form="inputForm" name="button" id="highlighter">
              <i class="fas fa-diagnoses nav-icon"></i>Ret tekst
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="clean"><i class="fas fa-soap nav-icon"></i>Fjern rettelser</a>
          </li>

          <!-- <li class="nav-item">
              <a class="nav-link" href="#" id="blur-btn"
                ><i class="fas fa-eye-slash nav-icon" id="icon-eye"></i>Slør tekst</a
              >
            </li> -->

          <li class="nav-item">
            <a class="nav-link" href="#" id="example-btn"><i class="fas fa-sync nav-icon"></i>Eksempel (1)</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" id="lix-btn" data-toggle="modal" data-target="#lixModal"
              ><i class="fas fa-paragraph nav-icon"></i>LIX<span id="lix" class="badge badge-lix badge-pill badge-dark"
                >0</span
              ></a
            >
          </li>
        </ul>
        <!-- <form class="form-inline custom-control custom-switch mr-4 align-middle">
            <input type="checkbox" class="custom-control-input" id="darkmode" />
            <label class="custom-control-label" for="darkmode">Mørk tilstand</label>
          </form> -->
      </div>
    </nav>
  </header>

  <main id="main" class="container-fluid">
    <!-- Main editor -->
    <div class="row">
      <div class="editor col-lg-10" id="editor" name="editor" contenteditable="true">
        <%- editorInput %>
      </div>
      <form action="/app" method="post" id="inputForm" onsubmit="return getContent()">
        <textarea id="inputText" name="inputText"></textarea>
      </form>

      <!-- Optælling af alle fejl -->
      <div class="col-lg-2 col-md-4" id="stats">
        <!-- Generelle sprogfejl -->
        <div class="row">
          <button
            type="button"
            class="btn btn-block btn-stats btn-generelt"
            data-toggle="modal"
            data-target="#genereltModal"
          >
            Generelt
            <span id="badge-generelt" class="badge badge-light">0</span>
          </button>
        </div>
        <!-- row / -->

        <!-- Fyldeord -->
        <div class="row">
          <button
            type="button"
            class="btn btn-block btn-stats btn-fyldeord"
            data-toggle="modal"
            data-target="#fyldeordModal"
          >
            Fyldeord
            <span id="badge-fyldeord" class="badge badge-light">0</span>
          </button>
        </div>
        <!-- row / -->

        <!-- Klichéer -->
        <div class="row">
          <button
            type="button"
            class="btn btn-block btn-stats btn-kliche"
            data-toggle="modal"
            data-target="#klicheModal"
          >
            Klichéer
            <span id="badge-kliche" class="badge badge-light">0</span>
          </button>
        </div>
        <!-- row / -->

        <!-- Anglicisme -->
        <div class="row">
          <button
            type="button"
            class="btn btn-block btn-stats btn-anglicisme"
            data-toggle="modal"
            data-target="#anglicismeModal"
          >
            Anglicismer
            <span id="badge-anglicisme" class="badge badge-light">0</span>
          </button>
        </div>
        <!-- row / -->

        <!-- Stavefejl -->
        <div class="row">
          <button
            type="button"
            class="btn btn-block btn-stats btn-stavefejl"
            data-toggle="modal"
            data-target="#stavefejlModal"
          >
            Stavefejl
            <span id="badge-stavefejl" class="badge badge-light">0</span>
          </button>
        </div>
        <!-- row / -->

        <!-- Pleonasmer -->
        <div class="row">
          <button
            type="button"
            class="btn btn-block btn-stats btn-pleonasme"
            data-toggle="modal"
            data-target="#pleonasmeModal"
          >
            Pleonasmer
            <span id="badge-pleonasme" class="badge badge-light">0</span>
          </button>
        </div>
        <!-- row / -->

        <!-- Divider -->
        <div class="border-top my-2"></div>

        <!-- Hard read -->
        <div class="row">
          <button type="button" class="btn btn-block btn-stats btn-hard" data-toggle="modal" data-target="#hardModal">
            Svære sætninger
            <span id="badge-hard" class="badge badge-light">0</span>
          </button>
        </div>

        <!-- Very Hard read -->
        <div class="row">
          <button
            type="button"
            class="btn btn-block btn-stats btn-veryhard"
            data-toggle="modal"
            data-target="#veryHardModal"
          >
            Meget svære sætninger
            <span id="badge-veryhard" class="badge badge-light">0</span>
          </button>
        </div>
        <!-- row / -->

        <!-- row / -->
      </div>
      <!-- col / -->
    </div>
    <!-- row / -->
  </main>
  <!-- container / -->

  <!-- Modals -->
  <!-- Modal: Generelt -->
  <div
    class="modal fade"
    id="genereltModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="genereltModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="genereltModalLabel">
            Generelle sprogbøvse
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            I denne kategori kigger vi efter en bred vifte af sprogbøffer, herunder
          </p>
          <ul>
            <li>
              <strong>Formelt sprog</strong>: Ord som deslige, qua, dog, endvidere og såfremdeles er overdrevnent
              formelle og sjældent nødvendige
            </li>
            <li>
              <strong>Buzzwords</strong>: Medmindre du skriver jobannoncer for Landbrugsstyrelsen, så er der god grund
              til at undgå buzzwords som agil, resilient, disruption og forandringsparat
            </li>
            <li>
              <strong>Sprogbøvse</strong>: Hed det brunede gulve eller bonede gulve? Et gram salt eller et gran salt?
              Her prøver vi at hjælpe med de værste syndere
            </li>
            <li>
              <strong>Eufemismer</strong>: Søger du nye udfordringer - eller er du blevet fyret? Er det post-faktuelt
              eller bare helt almindelig løgn?
            </li>
            <li>
              <strong>Typiske problembørn</strong>: Nogle ord bliver næsten altid anvendt forkert, men ikke altid.
              Konteksten afgør det i sidste ende, men vi vil alligevel gøre dig opmærksom på det, når du skriver
              historik, diskurs, og italesætte
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">
            Luk vinduet
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: Kliché -->
  <div
    class="modal fade"
    id="klicheModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="klicheModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="klicheModalLabel">Klichéer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Ifølge sproget.dk er en kliche, når en sprogbruger giver afkald på ganske almindelige ord og udtryk og
            udskifter dem med andre, som skal forestille at være smarte og nye, men absolut ikke er originale.
          </p>

          <p>
            "Er det nu forbudt at bruge klichéer? Nej, men vær opmærksom på, at der er 1.000 folk før dig ..."
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">
            Luk vinduet
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: Anglicisme -->
  <div
    class="modal fade"
    id="anglicismeModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="anglicismeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="anglicismeModalLabel">
            Anglicismer
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Anglicismer aka 'engelskgøring' er lån af ord, vendinger eller udtryksformer fra engelsk. Flere
            sprogforskere er bekymret for at denne engelske syge betyder, at dansk om nogle få ord ikke længere vil være
            et komplet og samfundsbærende sprog.
          </p>
          <p>
            Rettelser af denne slags er altså ikke nødvendigvis for at få teksten til at gøre teksten mere forståelig,
            men for at værne om det danske sprog
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">
            Luk vinduet
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: Pleonasme -->
  <div
    class="modal fade"
    id="pleonasmeModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="pleonasmeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pleonasmeModalLabel">
            Pleonasmer
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            En pleonasme, også kendt som dobbeltkonfekt, er når man bruger et eller flere ord, der er logisk
            unødvendige. Det forstyrrer sproget med støj, ...
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">
            Luk vinduet
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: Stavefejl -->
  <div
    class="modal fade"
    id="stavefejlModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="stavefejlModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stavefejlModalLabel">
            Stavefejl
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Et program som Microsoft Word vil finde 99% af de stavefejl. RetMinTekst er <em>ikke</em> en stavekontrol,
            men den vil alligevel kigge efter de mest typiske og mest drilske stavefejl, som danskerne laver.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">
            Luk vinduet
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: Fyldeord -->
  <div
    class="modal fade"
    id="fyldeordModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="fyldeordModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fyldeordModalLabel">
            Fyldeord
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            ...
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">
            Luk vinduet
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: Lix -->
  <div class="modal fade" id="lixModal" tabindex="-1" role="dialog" aria-labelledby="lixModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lixModalLabel">LIX</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            LIX (læsbarhedsindeks) giver et mål for en teksts læsbarhed. LIX-tallet for din tekst er nedenfor:
          </p>
          <ul>
            <li id="li-lix">LIX: 47</li>
            <li id="li-difficulty">Sværhedsgrad:</li>
          </ul>

          <p>
            Formlen tager hensyn til længden af sætningerne og antallet af lange ord, men der tages ikke hensyn til, om
            der anvendes komplicerede sætningsstrukturer, fremmedord og lignende. LIX kan give et fingerpeg om, hvorvidt
            din tekst er en tand for kompliceret.
          </p>

          <p>
            Et lavt LIX-tal giver ingen garanti for, at teksten er letlæselig.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">
            Luk vinduet
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- JavaScript -->
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
  defer
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
  defer
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
  defer
></script>
<!-- <script type="module" src="js/main.js" defer></script> -->

<%- include("footer") -%>
