.editor-api {
  background-color: white;
  border-radius: 5px;
  min-height: 70vh;
}

.list-group {
  overflow-y: scroll;
  max-height: 70vh !important;
  min-height: 70vh !important;
  background-color: white;
}

#content.mobile {
  width: 100%;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.ce-paragraph {
  line-height: 1.8em !important;
}

.red {
  border-bottom: 3px solid $red-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $red-bg;
  }
}

.yellow {
  border-bottom: 3px solid $yellow-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $yellow-bg;
  }
}

.blue {
  border-bottom: 3px solid $blue-border-bottom-color;
  cursor: pointer;

  &:hover {
    background-color: $blue-bg;
  }
}

.hard {
  @include highlight($hard);
}

.vhard {
  @include highlight($vhard);
}
