// Mixin for the span tags in the editor

@mixin highlight($color, $z: 1) {
  transition: background 0.5s;
  background-color: $color;
  // border-radius: $radius;
  z-index: $z;
  position: relative;
  padding: 0 3px 0 3px;

  :before {
    content: "";
    width: 100%;
    height: 1em;
    position: absolute;
    z-index: -1;
    filter: url(#marker-shape);
    left: -0.25em;
    top: 0.1em;
    padding: 0 0.25em;
  }
}

// Mixin for the list group items in the sidebar
@mixin lg-item($color, $bg-color, $border-color: none) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
}
