/* Color scheme */
$color-text: #0e101a;
$black: #0e101a;
$bg: #f8f9fa;
$radius: 20%;
$grey0: rgb(100, 100, 100);

// * Typography
$font-sans: Lato, sans-serif;

// TODO From Grammarly (Combine with 'realistic-highlight-marker?
$red:rgb(234, 21, 55);
$red-border-bottom-color: $red;
$red-bg: rgb(255, 153, 171);

$yellow: #ffae00;
$yellow-border-bottom-color: $yellow;
$yellow-bg: #ffebc0dc;

$blue:rgb(74, 110, 224);
$blue-border-bottom-color: $blue;
$blue-bg: rgb(153, 194, 255);

$hard: $yellow-bg;
$vhard: $red-bg;
